<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Attendance App</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/assets/css/materialdesignicons.css">
  <link rel="stylesheet" href="../static/assets/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../static/assets/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="../static/assets/images/logo.svg" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="../static/assets/images/logo-mini.svg" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, Admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item">
                <br>
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="fa fa-navicon"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="text-wrapper">
                  <p class="profile-name">Admin</p>
                  <div>
                    <small class="designation text-muted">Admin</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <a style="color:white" class="btn btn-success btn-block" href="add-class">Add Class
                <i class="mdi mdi-plus"></i>
              </a>
            </div>
          </li>
          {% if classes == "There are no classes" %}
            <li class="nav-item">
              <span class="menu-title nav-link">There are no classes</span>
            </li>
          {% else %}
            {% for item in classes %}
              <li class="nav-item">
              <a class="nav-link" href="{{url_for('home', selectedClass=item)}}">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-title">{{item}}</span>
              </a>
            </li>
            {% endfor %}
          {% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="menu-icon fa fa-users"></i>
              <span class="menu-title">Class A</span>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
        <div class="row purchace-popup">
            <div class="col-12">
              <span class="d-block d-md-flex align-items-center">
                  <a class="btn btn-success btn-block d-md-block" href="{{url_for('add_face', collectionId=selectedClass)}}">Add Face
                    </a>
                <a class="btn btn-danger btn-block d-md-block" href="{{url_for('delete_collection', collectionId=selectedClass)}}">Delete Class
                </a>
                <i class="mdi mdi-close popup-dismiss d-none d-md-block"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Face Details - {{selectedClass}}</h4>
                  <div class="table-responsive">
                    {% if classes == "There are no classes" %}
                      <h3 class="card-title">Please add atleast one class</h3>
                    {% else %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>
                              #
                            </th>
                            <th>
                              Class Name
                            </th>
                            <th>
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if faces_list != "Null" %}
                            {% set count = 1 %}
                            {% for item in faces_list %}
                              <tr>
                                <td class="font-weight-medium">
                                  {{item['Id']}}
                                </td>
                                <td>
                                  {{item['ExternalImageId']}}
                                </td>
                                <td>
                                  <a style="color:white" class="btn btn-danger btn-block d-md-block" href="{{url_for('delete_face', collectionId=selectedClass, faceId=item['FaceId'])}}">Delete Face
                                  </a>
                                </td>
                              </tr>
                            {% endfor %}
                          {% else %}
                            <tr>
                                <td class="font-weight-medium">
                                  No faces are added to this class
                                </td>
                            </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="../static/assets/js/vendor.bundle.base.js"></script>
  <script src="../static/assets/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../static/assets/js/off-canvas.js"></script>
  <script src="../static/assets/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../static/assets/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>